#modal {
    background-image: url(/imagenes/fondo.jpeg);
    background-position: center ;
    background-size: 1000px;
  }
  
  #loginimagen{
    height: 8rem;
    border-radius: 60px;
  }
  
  #loginimagen2{
    height: 1rem;
  }
  
  #user {
    height: 35px ;
  }
  
  #user2 {
    height: 1rem ;
  }
  
  #password{
    height: 35px;
    padding: 7px;
  }
  
  #password2{
    height: 1rem;
  }
  
  #iniciarsesion {
    background-color: #e23636;
  
  }
  
  #div-o{
    height: 1rem;
  }
  #div-o2{
    height: 1rem;
  }
  
  
  #googleicon{
    height: 1.6rem;
  }
  #googleicon2{
    height: 1.6rem;
  }
  
  #iniciarsesion:hover{
    background: #1a2074;
    box-shadow: #2b2a2a 0 5px 5px;
  }
  #exit{
    display: flex;
    justify-content: end !important;
  }