h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
    background-color: blueviolet; !important
}

.colorfondo {
    background-color: #F3F3F3;
}
.colorfooter
{
    background-color: rgb(187, 187, 187);
}
.textfooter{
    color: #EEE229;
}

.iconos
{
    width: 3.5rem;
}
.iconos2{
    width: 1rem;
}