* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}


#modal {
    background-image: url(/imagenes/fondo.jpeg);
    background-position: center ;
    background-size: 1000px;
  }
  
  #loginimagen{
    height: 8rem;
    border-radius: 60px;
  }

  
  #user {
    height: 35px ;
  }
  
  
  #password{
    height: 35px;
    padding: 7px;
  }
  
  
  #div-o{
    height: 1rem;
  }
 
  #googleicon{
    height: 1.6rem;
  }

  #exit{
    display: flex;
    justify-content: end !important;
  }

  .margintop
  {
    margin-top: 70px;
  }

  #carouselExampleDark{
    color: black;
  }