* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
body{
background-image: url(/images/templo.jpg);
}

#modal {
    background-image: url(/imagenes/fondo.jpeg);
    background-position: center ;
    background-size: 1000px;
  }
  
  #loginimagen{
    height: 8rem;
    border-radius: 60px;
  }

  
  #user {
    height: 35px ;
  }
  
  
  #password{
    height: 35px;
    padding: 7px;
  }
  
  
  #iniciarsesion {
    background-color: #e23636;
  
  }
  
  #div-o{
    height: 1rem;
  }
 
  #googleicon{
    height: 1.6rem;
  }

  #iniciarsesion:hover{
    background: #1a2074;
    box-shadow: #2b2a2a 0 5px 5px;
  }
  #exit{
    display: flex;
    justify-content: end !important;
  }

  #registroForm{
    margin-left: 20px;
    margin-right: 50px;
    padding: 50px;
    border-radius: 30px;
  }

  .registrate{
    margin-top: 100px;
    margin-left: 10%;
  }
