body {
    background-image: url(/images/templo.jpg);
}

#registroForm {
    margin-left: 20px;
    margin-right: 50px;
    padding: 50px;
    border-radius: 30px;
}

.registrate {
    margin-top: 100px;
    margin-left: 10%;
}