* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.margin{
  margin-top: 70px;
}
.videoFondo {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: -5;
}

hr {
  color: #090909;
}

body {
  overflow-x: hidden;
  background-image: url(/images/dojo\ definitivo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.texto {
  color: white;
}

button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 16px;
  border: 1px solid transparent;
  color: #394d3d;
  background-color: #f1f1f1;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.15s linear;
}


/* estilo de carga de la pagina */
.containerc {
  position: fixed;
  background-image: url(/images/cobra\ kai\ upload.jpg);
  color: #fff;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 100000;
  display: flex; 
  top: 0;
  left: 0;
}


.preloader {
  top: 30px;
  margin: auto;
  width: 450px;
  margin-bottom: 450px;
  background: black;
  position: relative;
  border-radius: 50px;
}

.preloader:before {
  content: "";
  position: absolute;
  background: black;
  width: 80px;
  height: 50px;
  animation: preloader 3s infinite;
  border-radius: 60px;
}

.preloader p {
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 30px;
  font-size: 17px;
  position: absolute;
  left: 40%;
  transform: translateX(-40%);
}
.cerrar {
  transform: translateY(-100%);
  transition: 2s;
}


.movimientoCard {
  transform: translateY(0%);
  transition: 0.5s;
}

.card-img {
  transform: translateY(0%);
  transition: 0.5s;
} 

/* card hover */

.card:hover .movimientoCard {
  transform: translateY(150%);
  transition: 0.5s;
}

.card:hover .card-img {
  transform: translateY(-65%);
  transition: 0.5s;
}
.textfooter{
  color: #EEE229;
}

.iconos
{
  width: 40px;
}
.iconos2{
  width: 1rem;
}


@keyframes preloader {
  90% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .videoFondo {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
  }
}


@media (max-width: 414px) {
  .preloader:before {
    content: "";
    position: absolute;
    background: black;
    width: 40px;
    height: 50px;
    animation: preloader 3s infinite;
    border-radius: 60px;
  }
}
@media (max-width: 414px) {
  .preloader {
    top: 30px;
    margin: auto;
    width: 350px;
    margin-bottom: 530px;
    background: black;
    position: relative;
    border-radius: 50px;
  }
}

@media (max-width: 414px) {
  .preloader p {
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 30px;
    font-size: 14px;
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
  }
}
